* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body {
      background-image: url("./images/galaxy.webp");
      background-size: cover;
      background-repeat: no-repeat;
      font-family: 'Orbitron', sans-serif;
      color: white;
}

.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

h1 {
      font-size: 60px;
      text-align: center;
      margin-bottom: 50px;
      text-shadow: 6px 6px 6px #222222;
}

.btn {
      padding: 10px 20px;
      border: none;
      font-size: 18px;
      font-family: inherit;
      font-weight: bold;
      box-shadow: 0px 4px 10px #222222;
      color: rgb(8, 80, 151);
}

.btn:hover {
      background-color: rgb(8, 80, 151);
      color: white;
      box-shadow: 0px 4px 10px #222222;
}   

.underline {
      padding-bottom: 3px;
      border-bottom: 7px solid rgb(8, 80, 151);
}

.logo {
      width: 200px;
      margin-bottom: 30px;
}
